#🗄️ PostgreSQL — credentials, nom de la base, port
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#🍃 MongoDB — idem
MONGO_HOST=
MONGO_PORT=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

#🔍 Elasticsearch — hôte, port
ELASTIC_HOST=
ELASTIC_PORT=
ELASTICSEARCH_INDEX=

#🔑 API France Travail — clés d'authentification
FRANCETRAVAIL_CLIENT_ID=
FRANCETRAVAIL_CLIENT_SECRET=

#PGADMIN
PGADMIN_EMAIL=
PGADMIN_PASSWORD=


#⚙️ Applicatif — environnement (dev/prod), ports exposés
ENVIRONMENT=dev                # dev | prod — change le comportement des logs, erreurs, etc.
LOG_LEVEL=INFO                 # DEBUG | INFO | WARNING | ERROR

# Ports exposés sur ta machine hôte (le côté gauche du ":" dans docker-compose)
#Pourquoi les ports dans .env ? Pour éviter les conflits entre développeurs —
#si quelqu'un a déjà quelque chose sur le port 8000, il change juste son .env
#sans toucher au docker-compose.yml.
API_PORT=8000
INGESTION_PORT=8001
